(docs/deployment/index.md, docs/quick_start/index.md, docs/quick_start/quick_start.md, docs/quick_start/quick_start_with_jdbc.md, docs/security/authentication.md, docs/security/authorization/index.md, docs/security/authorization/spark/index.md, docs/security/authorization/spark/overview.md, docs/security/index.md, docs/security/kerberos.md, docs/appendix/index.md, docs/connector/flink/hudi.md, docs/connector/flink/iceberg.md, docs/connector/flink/index.md, docs/connector/flink/paimon.md, docs/connector/spark/delta_lake.md, docs/connector/spark/hive.md, docs/connector/spark/hudi.md, docs/connector/spark/iceberg.md, docs/connector/spark/paimon.md, docs/connector/spark/tidb.md, docs/connector/spark/tpch.md, docs/deployment/spark/index.md, docs/overview/index.md)